Datasets/
Pentaho/schema.txt
steam_crawler/.env
ML_analytics/outputs
ML_analytics/.env
test_zone
**/.venv
**/.pyenv
**/__pycache__/**
scratch_scripts/
Báo cáo DACN_HK251
Report/Build/**
shared_content/**
*.zip
